@{
    ViewBag.Title = "Resetuj haslo potwierdzenie";
}
<hgroup class="title">
    <h1>Resetuj haslo potwierdzenie.</h1>
</hgroup>
<div>
    <p>
        Twoje haslo zostalo zresetowane @Html.ActionLink("Kliknij tu aby się zalogować", "Login", "Konto", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>

