@model Bookly.Models.Ksiazka

@{
    ViewBag.Title = "ErrorBrakKsiazek";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error Ksiazka:</h2>
<h2>@Model.Tytul</h2>
<h2> Nie występuje obecnie na stanie</h2>
